<fieldset
  style="width: max-content; align-items: center; margin: 10px; padding: 10px"
>
  <legend>Product Details</legend>

  <label>Product Name:</label>
  <input type="text" [(ngModel)]="pname" required />
  <br />
  <br />
  <label>Unit Price:</label>
  <input type="number" [(ngModel)]="uprice" required />
  <br />
  <br />
  <label>Quantity:</label>
  <input type="number" [(ngModel)]="quant" required />
  <br />
  <br />
  <input type="submit" (click)="getTotal()" value="Get Total" />

  <input
    type="submit"
    (click)="getMinus()"
    value="-"
    style="margin-left: 20px"
  />
  <input
    type="number"
    [(ngModel)]="quant"
    style="width: 30px; text-align: center"
  />
  <input type="submit" (click)="getPlus()" value="+" />

  <p>Total : {{ tot }}</p>
</fieldset>
